
<web-app>

	<servlet>
		<servlet-name>ejercicio_entornos</servlet-name>
		<servlet-class>exercici_examen.FernandoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ejercicio_entornos</servlet-name>
		<url-pattern>/fernando</url-pattern>
	</servlet-mapping>

</web-app>  